<div style='border: 1px solid black; margin: 10px; padding: 2px;'>
  {{#link-to 'topic' topic.id}}<h4>{{topic.name}}</h4>{{/link-to}}
  <button {{action "add" topic}}>Love</button>
  <h5>{{topic.type}}</h5>
  <p>Price: {{topic.price}}</p>
  <p>Description: {{topic.description}}</p>
  Popularity: {{topic-rating topic.reviews}}
</div>
